
*{
    /* margin: 0; */
    padding: 0;
}
.jost-normal {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* header */
.header{
    background-image: url(../assets/Dev.png), url(../assets/pp-background.png);
    background-repeat: no-repeat;
    background-position: center left, bottom right;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav>ul{
    display: flex;
    align-items: center;
}
/* shared Style */
.btn-primary{
    background-color: #221D5C;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
}
.btn-primary:hover{
    background-color: #7F3F98;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black
}
.section-des{
    font-size: 18px;
    color: gray;
}
.color-2{
    color: blueviolet;
}
/* banner styles */
.secondary-bg{
    background-color: #e6baf8;
    /* border: solid 2px green; */
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.bnr-greet{
    font-size: 45px;
    font-weight: 600;
}
.bnr-titl{
    font-size: 70px;
    font-weight: bold;
}
.bnr-des{
    font-size: 18px;
}
.bnr-pp{
    width: 584px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    width: 50%;
    margin: 150px auto;
}
.about-box{
    border: solid 2px black;
    background-color: white;
    border-radius: 5px;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
main{
    max-width: 1140;
    margin: 0 auto;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-des{
    font-size: 18px;
    color: #757575;
}